/* .css-10trblm.e16nr0p30 {
    font-family: 'Source Code Pro';
} */

#cathie-wood {
    font-family: 'Source Code Pro';
}

hr {
    margin: 0em 0em !important;
}

#submit-a-prediction {
    font-family: 'Arial';
}